body {
    font-family: 'Roboto', sans-serif;
    
}

header {
    margin: -10px
}

header .logo img {
    max-width: 100px;
}

header .menu nav {
    text-align: center;
    position: relative
}

header .menu nav ul li {
    display: inline-block;
    position: relative;
}

header .menu nav ul li a {
    text-decoration: none;
    padding: 50px;
    color: rgb(112, 110, 110);
   
}

header .menu nav ul li a:hover{
    color: black;
    transition: 0.5 ease-in-out;  
    
  
}
header .menu nav ul li a:valid{
    color: black
}

/* h1::before {

    content: '';
    display: block;
    height: 2px;
    background: white;
    border-radius: 70%;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px
} */
header .menu nav ul li a::before{
content: '';
display: block;
height: 2px;
background:  rgb(112, 110, 110);
width: 100px;
position: absolute;
left: 53%;
transform: translateX(-50%);
bottom: -8px;
transition: 0.5 ease-in-out;
margin:0 -5px;
opacity: 0;
}
header .menu nav ul li a:hover:before{
   
opacity: 2;
    background: black
}

header .search1 img {
    max-width: 20px;

}

header .search1 img:hover {
    transition: 0.5 ease-in-out;
    
    -webkit-transform:  scale(1.2)  rotate(0deg)
}

.furniture {
    background-color: white;
    min-height: 60vh;
    position: relative;
    
}

.furniture img {
    position: absolute;
    left: -120px;
}

.furniture h2 {
    position: absolute;
    top: 160px;
    left: 200px;
    font-weight: 700;
    line-height: 10px;

}

.furniture h2 p {
    color: #c1c1c1
}

.furniture  .btn-shop {
    position: absolute;
    color: black;
    font-weight: 700;
    background: yellow;
    padding: 5px 30px;
    border-radius: 0%;
    font-size: 15px;
    top: 300px;
    left: 200px
}

.furniture .btn-shop:hover {
    color: yellow;
    background: black;
    font-weight: 700
}

.furniture1 {
    margin-top: 105px;
    background-color: rgb(183, 128, 235);
    background-image: url('../img/w1000-5165305vDa5SUV.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    text-align: center
}

.furniture1 h1 {
    position: absolute;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    top: 150px;
    right: 190px;
    color: white;
    letter-spacing: 10px
}

.furniture1 p {
    position: absolute;
    width: 600px;
    color: rgb(80, 79, 79);
    font-size: 15px;
    bottom: -400px;
    left: 300px;
    letter-spacing: 1.5px
}

.furniture1 .btn-shopfur {
    position: absolute;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 0%;
    padding: 5px 30px;
    font-size: 15px;
    font-weight: 700;
    bottom: -100px;
    left: 220px
}

.furniture1 .btn-shopfur:hover {
    background: white;
    color: rgb(112, 110, 110);
    font-weight: 700
}

.fashion {
    background-color: white;
    min-height: 60vh;
    position: relative
}

.fashion img {
    position: absolute;
    right: -120px
}

.fashion h2 {
    position: absolute;
  top: 120px;
  right: 200px;
  text-align: right;
  font-weight: 700;
  color: #c1c1c1
}
.fashion h2 p{
    margin: 0;
    color: black
}

.fashion .btn-shopfas {
    position: absolute;
    color: black;
    font-weight: 700;
    background: #06d96a;
    padding: 5px 30px;
    border-radius: 0%;
    font-size: 15px;
top: 300px;
right: 200px;

    
}

.fashion .btn-shopfas:hover {
    background: black;
    font-weight: 700;
    color: #06d96a;

}

.fashion1 {
    margin-top: 105px;
    background-color:#06d96a;
    background-image: url('../img/cecille-chavez-photography-1.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    text-align: center
}

.fashion1 h1 {
    position: absolute;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    top: 150px;
    right: 190px;
    color: white;
    letter-spacing: 10px
}


.fashion1 .btn-shopfas1 {
    position: absolute;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 0%;
    padding: 5px 30px;
    font-size: 15px;
    font-weight: 700;
    top: 450px;
    left:500px
    
   
}

.fashion1 .btn-shopfas1:hover {
    background: white;
    color: rgb(112, 110, 110);
    font-weight: 700
}

footer {
    background: #252525;
    min-height: 30vh;
    color: white;
   
}
footer .footer1 {
    color: rgb(201, 198, 198);
    margin-top: 35px
}
footer .footer1 h1{
    color: white
}
footer .footer1 a{
    color: rgb(201, 198, 198)  ;
    text-decoration: none;
    letter-spacing: 5px
}
footer .footer1 a:hover{
    color:white ;
    
}
footer .footer2{
    color:   rgb(201, 198, 198);
    font-size: 20px;
    text-align: right;
    margin-top: 35px;
    letter-spacing: 5px;
    
    

}
footer .footer2  i:hover{
    color: white;
    
    -webkit-transform:  scale(1.2)  rotate(0deg)

    
}
.fa img:hover {
    transition: 1.5s ease-in-out;

    -webkit-transform: scale(1.1) rotate(0deg);
    border: 5px solid white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.479)
}
.fu img:hover {
    transition: 1.5 ease-in-out;

    -webkit-transform: scale(1.1) rotate(0deg);
    border: 5px solid white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.479)
}